{% extends "system/base.html" %}
{% load humanize static %}

{% block title %}
  <title>Dashboard</title>  
{% endblock title %}

{% block main %}
  <h1 class="title">Dashboard</h1>  

  <section class="section">
    <h2>Last Month's Stats:</h2>
    <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Hours</p>
        <p class="title">{{hours|default_if_none:0}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Return Visits</p>
        <p class="title">{{return_visits|default_if_none:0|intcomma}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Bible Studies</p>
        <p class="title">{{bible_studies|default_if_none:0|intcomma}}</p>
      </div>
    </div>
  </nav>
  </section>

  <section class="section">
    <div id="chart1"></div>
  </section>
{% endblock main %}

{% block aside_menu %}
  {% include "aside.html" with dashboard_active='is-active' %}  
{% endblock aside_menu %}


{% block endscript %}
  <script src="{% static "vendors/chartjs/Chart.js" %}"></script>
  <script src="{% static "vendors/vue-chartjs/vue-chartjs.js" %}"></script>

  <script>
    var Bar = window.VueChartJs.Bar;
    var Line = window.VueChartJs.Line;

    var dashboardApp = new Vue({
      extends: Line,
      data: () => {
        return {
          type: 'line',
          data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [
              {
                label: 'Group 1',
                backgroundColor: '#9c27b0',
                borderColor: '#9c27b0',
                data: [0, 10, 5, 2, 20, 30, 45],
                fill: false,
              },
              {
                label: 'Group 2',
                backgroundColor: '#2196f3',
                borderColor: '#2196f3',
                data: [5, 15, 3, 5, 18, 40, 50],
                fill: false,
              },
            ]
          }
        }
      },

      mounted(){
        this.renderChart(this.data, {});
      },

      name: 'Chart 1',
      el: '#chart1'
    });
  </script>
{% endblock endscript %}