{% extends "system/base.html" %}

{% block title %}
    <title>Login</title>  
{% endblock title %}

{% block main %}
  <h1 class="title">Login</h1>  

  <section>
    <form method="POST">
      {% csrf_token %}
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input type="text" name="username" class="input">
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input type="password" name="password" class="input">
        </div>
      </div>
      <button class="button is-warning is-fullwidth" type="submit"><span class="icon"><i class="fas fa-sign-in-alt"></i></span><span>Login</span></button>
    </form>
  </section>
{% endblock main %}