@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$family-sans-serif: "Roboto", sans-serif;
$primary: #9C27B0;
$yellow: #FFEB3B;
$grey-dark: #212121;
$grey-light: #757575;
$link: #9C27B0;
$background: #E1BEE7;

@import "bulma-0.7.5/bulma.sass";