{% extends "publishers/base_group.html" %}

{% block title %}
  <title>Groups</title>  
{% endblock title %}

{% block groupbreadcrumbs %}
	<li class="is-active">List</li>	
{% endblock groupbreadcrumbs %}

{% block main %}
  <h1>Group List</h1>
	<a href='{% url "publishers:group-create" %}'><button class="button is-success is-pulled-right">New</button></a>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Congregation</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for group in object_list %}
        <tr>
          <td>{{ group.name|title }}</td>
          <td>{{ group.congregation|title }}</td>
          <td>
            <a href='{% url "publishers:group-detail" group.pk %}'><span class="button is-outlined">view</span></a>
            <a href='{% url "publishers:group-update" group.pk %}'><span class="button is-outlined">edit</span></a>
            <a href='{% url "reports:mfs-history-group" group.pk %}'><span class="button is-outlined">view mfs history</span></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}