{% extends "publishers/base.html" %}

{% block title %}
  <title>Publishers</title>  
{% endblock title %}

{% block main %}
  <h1>Publishers List</h1>
  <a href='{% url "publishers:create" %}'><button class="button is-success is-pulled-right">New</button></a>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Group</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for publisher in object_list %}
        <tr>
          <td>{{ publisher.name|title }}</td>
          <td>{{ publisher.group.name }}</td>
          <td>
            <a href='{% url "publishers:detail" publisher.pk %}'><span class="button is-outlined">view</span></a>
            <a href='{% url "publishers:update" publisher.pk %}'><span class="button is-outlined">edit</span></a></td>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}