{% extends "publishers/base.html" %}
{% load static %}

{% block title %}
  {% if publisher %} 
    <title>Publisher Edit | {{ publisher.name|title }}</title> 
  {% else %} 
    <title>Publisher New</title>  
  {% endif %}
{% endblock title %}

{% block subbreadcrumbs %}
  {% if publisher %}
    <li><a href='{% url "publishers:detail" publisher.slug %}'>{{ publisher.name|title }}</a></li>
    <li class="is-active"><a href='#'>Edit</a></li>  
  {% else %}
    <li class="is-active"><a href='#'>New</a></li>  
  {% endif %}
{% endblock subbreadcrumbs %}

{% block main %}
  {% if publisher %} 
    <h1>Publisher Edit</h1>
    <p class="is-size-3">Edit Publisher Profile</p>  
  {% else %} 
    <h1>Publisher New</h1>
    <p class="is-size-3">Create a New Publisher Profile</p>  
  {% endif %}

    <form method="POST" id="form--publisher-form">
      {% csrf_token %}
      <div class="field is-normal">
        <label class="label">Name</label>
      </div>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" name="last_name" value="{{ form.last_name.value|default:'' }}" ref="lastName" @input="updateSlug" required placeholder="last name">
            {{form.last_name.errors}}
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="input" type="text" name="first_name" value="{{ form.first_name.value|default:'' }}" ref="firstName" @input="updateSlug" required placeholder="first name">
            {{form.first_name.errors}}
            </div>
          </div>

          {% if publisher %}
            <div class="field">
              <div class="control">
              <input class="input" type="text" name="middle_name" value="{{ form.middle_name.value|default:'' }}" placeholder="middle name">
              {{form.middle_name.errors}}
              </div>
            </div>
          {% endif %}

        </div>
      </div>
      
      <div class="field">
        <label class="label">Slug</label>
        <div class="control">
        <input class="input" type="text" name="slug" value="{{ form.slug.value|default:'' }}" ref="slug" required>
        {{form.slug.errors}}
        </div>
      </div>

      {% if publisher %}
      <div class="field is-normal">
        <label class="label">Dates</label>
      </div>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  Baptism
                </a>
              </p>
              <p class="control is-expanded">
                <input  class="input" type="date" name="date_of_baptism" value="{{ form.date_of_baptism.value|date:'Y-m-d' }}">
              </p>
            </div>
          </div>

          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  Birth
                </a>
              </p>
              <p class="control is-expanded">
                <input class="input" type="date" name="date_of_birth" value="{{ form.date_of_birth.value|date:'Y-m-d' }}">
              </p>
            </div>
          </div>
        </div>
        </div>

      <div class="field">
        <label class="label">Contact Numbers</label>
        <div class="control">
        <textarea class="textarea" name="contact_numbers" placeholder="0907123456, 09189876543">{{ form.contact_numbers.value }}</textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Assets</label>
        <div class="control">
          <div class="select is-multiple is-fullwidth">
            {{form.assets}}
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="{{form.infirmed.id_for_label}}">
            <input type="checkbox" name="infirmed" id="{{form.infirmed.id_for_label}}" {% if form.infirmed.value %}checked{% endif %}>
            Infirmed
          </label>
        </div>
        </div>
      <div class="field">
        <div class="control">
          <label class="checkbox" for="{{form.elderly.id_for_label}}">
            <input type="checkbox" name="elderly" id="{{form.elderly.id_for_label}}" {% if form.elderly.value %}checked{% endif %}>
            Elderly
          </label>
        </div>
      </div>

      {% endif %}

      {% if publisher %}
        {% include "_snippets/button_save.html" %}
      {% else %}
        {% include "_snippets/button_create.html" %}
      {% endif %}
    </form>
{% endblock main %}

{% block endscript %}
  {% if debug %}
      <script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
  {% else %}
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/kebabCase.js"></script>
  {% endif %}

  <script>
    publisherFormApp = new Vue({
      el: '#form--publisher-form',
      delimiters: ['[[', ']]'],

      data: () => {
        return {
        }
      },

      methods: {
        updateSlug() {
          let lastName = this.$refs.lastName.value;
          let firstName = this.$refs.firstName.value;
          let slug = lastName + ' ' + firstName;

          slug = _.kebabCase(slug);
          this.$refs.slug.value = slug;
        }
      }
    });
  </script>  
{% endblock endscript %}