{% extends "base.html" %}

{% block title %}
  <title>Publisher Update</title>  
{% endblock title %}

{% block main %}
<v-container>
  <h1>Publisher Update</h1>
  <p>{{ publisher.name }}</p>  
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-text-field
          name="last_name"
          label="Last Name"
          id="last_name"
          value="{{ last_name }}"
        ></v-text-field>
      </v-col>
    </v-row>
  </v-container>
  <form method="post">
    {% csrf_token %}
    <p>
      <label>Last Name</label>
      <input type="text" name="last_name" value="{{ publisher.last_name}}">
    </p>
    <p>
      <label>First Name</label>
      <input type="text" name="first_name" value="{{ publisher.first_name}}">
    </p>
    <p>
      <label>Middle Name</label>
      <input type="text" name="middle_name" value="{{ publisher.middle_name}}">
    </p>
    <p>
      <label>Date of Birth</label>
      <input type="date" name="date_of_birth" value="{{ publisher.date_of_birth}}">
    </p>
    <p>
      <label>Date of Baptism</label>
      <input type="date" name="date_of_baptism" value="{{ publisher.date_of_baptism}}">
    </p>
    <p>
      <label>Contact Numbers</label>
      <input type="textarea" name="contact_numbers" value="{{ publisher.contact_numbers}}">
    </p>
    <input type="submit" value="Save">
  </form>
</v-container>
{% endblock main %}