<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for publisher in object_list %}
      <tr>
        <td>{{ publisher.name|title }}</td>
        <td>{{ publisher.group.name }}</td>
        <td>
          <a href='{% url "publishers:detail" publisher.slug %}'><span class="button is-outlined">{% include "_snippets/icon_view.html" %}</span></a>
          <a href='{% url "publishers:update" publisher.slug %}'><span class="button is-outlined">{% include "_snippets/icon_edit.html" %}</span></a></td>
        </td>
      </tr>
    {% endfor %}

    {% if not object_list %}
      <tr>
        <td colspan="3" class="has-text-centered">No members. Please add.</td>
      </tr>  
    {% endif %}
  </tbody>
</table>