{% extends "pioneering/base.html" %}
{% load static %}

{% block title %}
  <title>Pioneer's Detail | {{pioneer.publisher.name|title}}</title>
{% endblock title %}

{% block subbreadcrumbs %}
  <li class="is-active"><a href='#'>{{pioneer.publisher.name|title}}</a></li>
  <li class="is-active"><a href='#'>Detail</a></li>
{% endblock subbreadcrumbs %}

{% block main %}
  <h1>Pioneer's Detail</h1>

  <div class="field is-grouped is-pulled-right" id="delete-button-app">
    <div class="control">
      <form id="form--{{ pioneer.pk }}" action='{% url "pioneering:delete" pioneer.pk %}' method="POST" @submit.prevent="confirmDelete">
        {% csrf_token %}
        <button class="button is-outlined" type="submit" form="form--{{ pioneer.pk }}" :disabled="disabled">{% include "_snippets/icon_trash.html" %}</button>
      </form>
    </div>

    <div class="control">
      <a href='{% url "pioneering:update" pioneer.slug %}'><button class="button is-outlined">{% include "_snippets/icon_edit.html" %}</button></a>
    </div>
  </div>
  
  <p class="is-size-3">{{ pioneer.publisher.name|upper }}</p>
  <p>Code: {{ pioneer.code }}</p>
  <p>Status: {% if pioneer.is_active %}{% include "_snippets/icon_check.html" %}{% else %}{% include "_snippets/icon_times.html" with color='has-text-danger' %}{% endif %}</p>

  <section class="section">
    <h2>Pioneering Details</h2>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Type</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        {% if pioneer.details.all %}
          {% for detail in pioneer.details.all %}
          <tr>
            <td>{{detail.pioneer_type}}</td>
            <td>{{detail.date_start}}</td>
            <td>{{detail.date_end}}</td>
          </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3" class="has-text-centered">No data available. Please create one.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </section>
{% endblock main %}

{% block vueinstance %}
    <script src="{% static "deleteButtonApp.js" %}"></script>
{% endblock vueinstance %}