{% extends "pioneering/base.html" %}

{% block title %}
  <title>Pioneers</title>  
{% endblock title %}

{% block main %}
  <h1 class="title">Pioneers List</h1>
  <a href='{% url "pioneering:create" %}'>{% include "_snippets/button_new.html" %}</a>
  <p>Create and maintin records of the pioneers in your congregation.</p><br>
  <p>In this module, a "Pioneer" could be a Regular Pioneer (RP), Special Pioneer (SP), or Auxillary Pioneer.</p><br>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th class="has-text-centered">Publisher</th>
        <th class="has-text-centered" title="Auxi/RP/SP">Active</th>
        <th class="has-text-centered">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for pioneer in pioneers %}
        <tr>
          <td>{{ pioneer.publisher.name|title }}</td>
          <td class="has-text-centered">
            {% if  pioneer.is_active %}
                {% include "_snippets/icon_check.html" %}
            {% else %}
              {% include "_snippets/icon_times.html" %}
            {% endif %}
          </td>
          <td>
            <a href='{% url "pioneering:detail" pioneer.slug %}'><span class="button is-outlined">{% include "_snippets/icon_view.html" %}</span></a>
            <a href='{% url "pioneering:update" pioneer.slug %}'><span class="button is-outlined">{% include "_snippets/icon_edit.html" %}</span></a></td>
          </td>
        </tr>
      {% endfor %}

      {% if not pioneers %}
        <tr>
          <td colspan="3" class="has-text-centered">No members. Please <a href="{% url 'pioneering:create' %}"><u>add</u></a>.</td>
        </tr>  
      {% endif %}
    </tbody>
  </table><br>
{% endblock main %}