
      <aside class="menu">
        <p class="menu-label"><a href="{% url 'system:dashboard' %}">Dashboard</a></p>

        <p class="menu-label">Publishers</p>
        <ul class="menu-list">
          <li><a href="{% url 'publishers:index' %}">Publishers</a></li>
          <li><a href="{% url 'publishers:group-index' %}">Groups</a></li>
        </ul>

        <p class="menu-label">Reports</p>
        <ul class="menu-list">
          <li><a href="{% url 'reports:mfs-index' %}">Monthly Field Service</a></li>
        </ul>
      </aside>