
      <aside class="menu">
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li><a href="{% url 'system:dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'pioneering:index' %}">Pioneering</a></li>
        </ul>

        <p class="menu-label">Publishers</p>
        <ul class="menu-list">
          <li><a href="{% url 'publishers:index' %}">Publishers</a></li>
          <li><a href="{% url 'publishers:group-index' %}">Groups</a></li>
        </ul>

        <p class="menu-label">Servants</p>
        <ul class="menu-list">
          <li><a href="{% url 'servants:index' %}">List</a></li>
        </ul>

        <p class="menu-label">Reports</p>
        <ul class="menu-list">
          <li><a href="{% url 'reports:mfs-index' %}">Monthly Field Service</a></li>

          <li>
            <a>Publishers</a>
            <ul>
              <li><a href="{% url 'reports:publishers' 'infirmed' %}">Infirmed Publishers</a></li>
              <li><a href="{% url 'reports:publishers' 'elderly' %}">Elderly Publishers</a></li>
            </ul>
          </li>

          <li>
            <a>Pioneering</a>
            <ul>
              <li><a href="{% url 'reports:pioneering' 'rp' %}">Regular Pioneers</a></li>
              <li><a href="{% url 'reports:pioneering' 'au' %}">Auxillary Pioneers</a></li>
              <li><a href="{% url 'reports:pioneering' 'sp' %}">Special Pioneers</a></li>
            </ul>
          </li>
        </ul>
      </aside>