{% load static%}

<!DOCTYPE html>
<html>
<head>
  {% block title %}
  <title>Home | Congregation Management System</title>
  {% endblock title %}
  <link href='{% static "vendors/googlefonts.css" %}' rel="stylesheet">
  <link href='{% static "vendors/materialdesignicons.min.css" %}' rel="stylesheet">
  <link href='{% static "vendors/vuetify.min.css" %}' rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      {% block header %}
        {% include "navigation_drawer.html" %}

        {% include "app_bar.html" %}
      {% endblock header %}
      
      <v-content>
        {% block main %}
        {% endblock main %}
      </v-content>

      {% block footer %}
        
      {% endblock footer %}
    </v-app>



  </div>

  <script src='{% static "vendors/vue.js" %}'></script>
  <script src='{% static "vendors/vuetify.js" %}'></script>
  <script>
    vueinstance = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      vuetify: new Vuetify(),
      data: () => ({
        drawer: null,
      })
    });
  </script>

  {% block endscript %}{% endblock endscript %}
</body>
</html>