{% load static%}

<!DOCTYPE html>
<html>
<head>
  {% block title %}
  <title>Home | Congregation Management System</title>
  {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='{% static "vendors/bulma-0.7.5/css/bulma.min.css" %}' rel="stylesheet">
  {% block headblock %}{% endblock headblock %}
  <script defer src='{% static "vendors/fontawesome.js" %}'></script>
</head>
<body>
  <div>
    {% block header %}
      {% include "navbar.html" %}
      
      <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li>
            {% block breadcrumbs %}{% endblock breadcrumbs %}
          </ul>
        </nav>
      </div>
    {% endblock header %}
    
      <div class="container" id="app">
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li class="is-{{ message.tags }}">{{message}}</li>
            {% endfor %}
          </ul>  
        {% endif %}

        {% block main %}
        {% endblock main %}
      </div>

    {% block footer %}
      
    {% endblock footer %}
  </div>

  <script src='{% static "vendors/vue.js" %}'></script>

  {% block vueinstance %}
    <script>
      vueinstance = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: () => ({
        })
      });
    </script>
  {% endblock vueinstance %}

  <script>
    navbarVue = new Vue({
      el: '#navbar',
      delimiters: ['[[', ']]'],
      data: () => ({
        active: false
      }),
      methods: {
        toggleNavbarMenu: function () {
          this.active = !this.active
        }
      }
    });
  </script>

  {% block endscript %}{% endblock endscript %}
</body>
</html>